body {

	
	text-align: center;
	color: #088A68;
	font-size: 28px;
	font-family: sans-serif;
	background-color: #CEECF5;
	background-size:   cover;
    	background-repeat: no-repeat;
}

h1 {
    position: absolute;
    left: 100px;
    top: 50px;
    color: black;
}

h2 {
	text-align: left;
	color: black;
}
.pic {
 	 color:white;

 } 

#picture {
    border: 10px solid #333333;
    border-radius: 138px;
}
    	
    	


