body {

	
	text-align: center;
	color: #088A68;
	font-size: 28px;
	font-family: sans-serif;
	background-image: url("IMG_2774.JPG");
	background-size:   cover;
    	background-repeat: no-repeat;
}

#header {

}

#content {
	margin-left: 20%;
	margin-right: 20%;
}


.pic {
 	 color:white;
 } 

    	
    	


