body {
	text-align: center;
	color: black;
	font-size: 28px;
	font-family: sans-serif;
	background-image: url("IMG_2774.JPG");
	background-size:   cover;
    	background-repeat: no-repeat;
    	
    	<style>
	.pic {
	 color:white;
    	 margin:20px;
	 padding:20px;
	} 
</style>

}
